@import 'src/styles';

button {
  width: 200px;
  border-radius: 15px 0px 0px 15px;

  &.btn {
    border: none;
    background-color: whitesmoke;
    color: darkgray;

    &:hover {
      opacity: 0.8;
    }
  }

  &.btn-active {
    border: $primary-color;
    background-color: $primary-color;
    color: white;
  }
}
